/*FOOTER*/
footer {
    background-color: #FD6A9A;
    display: flex;
    justify-content: center;
    height: 30vh;
    color: white;
}

footer div {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    width: 25vw;
}

footer h2 {
    font-weight: 900;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        height: 60vh;
    }

    footer div {
        width: 100vw;
        height: 20vh;
        text-align: center;
    }
}