header {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  height: 15vh;
}

header div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  color: white;
}

header img {
  width: 25%;
  max-width: 45px;
}

header figure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
}

/* MOBILE */
@media screen and (max-width: 600px) {
  header div {
    width: 50vw;
  }

  .none {
    display: none;
  }
}