/*BANNER*/
.banner {
  background-image: url("../img/desktop.png");
  height: 85vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner div {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.banner h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 5px;
}

.banner img {
  width: 100%;
  max-width: 90px;
}

main h2 {
  font-size: 3rem;
}

main p {
  font-size: 1.5rem;
}

/*BANHO E TOSA*/
.tosa {
  background-image: url("../img/desktptosa.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.tosa div {
  margin-left: 2rem;
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tosa button {
  background-color: #3a342f;
  color: white;
  border-radius: 15px;
  border: none;
  width: 10vw;
  height: 5vh;
  min-height: 30px;
}

/* MORDOMIA */
.mordomia {
  background-image: url("../img/desktpdog.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.mordomia div {
  margin-left: 2rem;
  width: 40vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.mordomia button {
  background-color: #ffffff;
  color: rgb(1, 1, 1);
  border-radius: 15px;
  border: none;
  width: 10vw;
  height: 5vh;
  min-height: 30px;
}

/* APOIO */
.apoio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #FD6A9A;
  height: 15vh;
}

.apoio h2,
h3 {
  font-size: 1.5rem;
}

.apoio p {
  order: 1;
}

.apoio h2 {
  order: 2;
}

.apoio h3 {
  order: 3;
}


/* MOBILE */
@media screen and (max-width: 600px) {
  .banner {
    background-image: url("../img/banner.png");
  }

  .tosa {
    background-image: url("../img/tosa.png");
    justify-content: start;
    align-items: flex-start;
  }

  .tosa div {
    width: 70vw;
    height: 40vw;
    margin-top: 1rem;
  }

  main h2 {
    font-size: 2rem;
  }

  main p {
    font-size: 1rem;
  }

  .tosa button {
    width: 50%;
    margin-top: 6px;
  }

  /*MORDOMIA*/
  .mordomia {
    background-image: url("../img/dog.png");
    justify-content: start;
    align-items: flex-start;
  }

  .mordomia div {
    width: 80vw;
    margin-top: 1rem;
  }

  .mordomia button {
    width: 50%;
    margin-top: 6px;
  }

  /*APOIO*/
  .apoio p {
    order: 2;
    margin-bottom: 1rem;
  }

  .apoio h2 {
    order: 1;
  }

  .apoio h3 {
    order: 3;
  }
}